* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Times New Roman", serif;
    background-color: #6e6b75;
}

p {
    color: white;
    font-size: 32px;
}

#game {
    z-index: 1;
    position: absolute;
    left: 223px;
    top: 122px;
    width: 465px;
}

#divPc {
    z-index: 0;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#divMsg {
    margin: 80px auto;
    margin-left: 830px;
}